.footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(186, 181, 181);
}

.socials {
    display: flex;
    justify-content: space-between;
}


ion-icon {
    margin: 0.5rem;
    font-size: 1.2rem;
}